.user-image {
  width: 180px;
  height: 180px;
}

.group-button {
  background: #ffffff;
  box-shadow: 5px 5px 24px #dbdbdb, -5px -5px 24px #ffffff;
}

.user-info {
  padding: 30px 0 0 30px;
}

.table-component {
  overflow: auto;
  width: 100%;
}

.table-component table {
  border: 1px solid #dededf;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  background: #ffffff;
  box-shadow: 7px 10px 33px #dbdbdb, -112px 35px 18px #ffffff;
}

.table-component th,
.table-component td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  padding: 10px;
}

/* Media query for large screens */
@media (min-width: 991px) {
  .create-group-modal-body.modal-body {
    background-image: url('../../../assets/img/user-panel/create-group-img.png');
    background-repeat: no-repeat;
    height: 605px;
    background-position: bottom;
    background-size: cover;
  }
}

/* Media query for screens up to 769px */
@media (max-width: 991px) {
  .plans-section {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }

  .group-button {
    width: 60%;
  }

  .create-group-modal-body.modal-body {
    padding: 10px 0px 30px 0px !important;
    background-image: none;
  }
}

/* Additional styles if needed for mid-range sizes (optional) */
@media (min-width: 991px) {
  .create-group-modal-dialog.modal-dialog {
    max-width: 75%;
  }

  .white-box {
    padding: 60px 70px 60px 70px;
    box-shadow: 38px -41px 77px #656565, 20px 0px 14px #000000;
  }

  .members-view {
    height: 100px;
  }
}
