/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}

/* Banner informativo */
.banner {
  position: relative;
  width: 100%;
  max-width: 1360px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 60px;
  left: 10px;
  color: white;
  font-size: 70px;
  padding: 10px;
}

.banner-text p {
  margin-bottom: 10px;
}

.banner-text1 {
  color: white;
  font-size: 50px;
  font-family: 'Blinker-Regular';
}

/* Card */
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 800px;
  margin: 100px auto;
  background-color: #fff;
}

.card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.result {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.bar-container {
  background-color: #f1f1f1;
  border-radius: 25px;
  overflow: hidden;
}

.bar {
  text-align: center;
  padding: 10px 0;
  color: white;
  border-radius: 25px;
}

/* Media Queries para la adaptabilidad */
@media (max-width: 1024px) {
  .main-container {
      padding: 0 50px;
  }

  .banner-text {
      font-size: 50px;
      top: 50px;
      left: 10px;
  }

  .banner-text1 {
      font-size: 35px;
  }

  .card {
      padding: 15px;
      margin: 50px auto;
  }

  .card h2 {
      font-size: 20px;
  }
}

@media (max-width: 768px) {
  .main-container {
      padding: 0 20px;
  }

  .banner {
      height: 400px;
  }

  .banner-text {
      font-size: 40px;
      top: 40px;
      left: 5px;
  }

  .banner-text1 {
      font-size: 30px;
  }

  .card {
      padding: 10px;
      margin: 30px auto;
  }

  .card h2 {
      font-size: 18px;
  }

  .bar {
      padding: 8px 0;
  }
}

@media (max-width: 480px) {
  .banner {
      height: 300px;
  }

  .banner-text {
      font-size: 30px;
      top: 30px;
      left: 5px;
  }

  .banner-text1 {
      font-size: 20px;
  }

  .card {
      padding: 10px;
      margin: 20px auto;
  }

  .card h2 {
      font-size: 16px;
  }

  .bar {
      padding: 6px 0;
  }
}
