<div class="main-container">
    <div class="banner info ">
        <div class="banner">
            <img src="./assets/img/voting/Votaciones.png" alt="" class="banner-image">
            <div class="banner-text">
                <p>Organizar tu viaje nunca </p>
                <h1 class="banner-text1">Fue tan facil</h1>  
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Resultados de la Votación</h2>
        <div class="result">
          <span class="label">KML</span>
          <div class="bar-container">
            <div class="bar" style="width: 70%; background-color: #4caf50;">70%</div>
          </div>
        </div>
        <div class="result">
          <span class="label">Latam</span>
          <div class="bar-container">
            <div class="bar" style="width: 30%; background-color: #4caf50;">30%</div>
          </div>
        </div>
        <div class="result">
          <span class="label">Avianca</span>
          <div class="bar-container">
            <div class="bar" style="width: 60%; background-color: #4caf50;">60%</div>
          </div>
        </div>
        <div class="result">
            <span class="label">Ryanar</span>
            <div class="bar-container">
              <div class="bar" style="width: 40%; background-color: #4caf50;">40%</div>
            </div>
          </div>
      </div>
      