<h1 class="mt-4 mb-3 text-center text-lg-start ms-lg-5"><a class="text-decoration-none Heebo-Bold text-main-blue"
        routerLink="/" routerLinkActive="router-link-active">My App.</a></h1>
<main class="d-flex flex-column align-items-center">
    <section class="d-flex flex-column mt-3 mt-lg-0 align-items-center reset-pass-box white rounded-4 pb-4">
        <div class="my-4">
            <img src="../../../assets/img/reset-password/lock.png" alt="lock-image" class="lock-image">
        </div>
        <form [formGroup]="formResetPass" (Submit)="changeForgottenPassword()"
            class="d-flex flex-column align-items-center">
            <div class="input-group mb-3">
                <label for="newPass" class="form-label Heebo-Regular label-text text-start w-100">New password</label>
                <span class="input-group-text d-flex align-items-center rounded-start-pill secondary-grey text-center"
                    id="basic-addon1"><i class="fa-solid fa-lock text-main-grey"></i></span>
                <input type="password" id="#newPass" class="form-control rounded-end-pill py-2" placeholder=""
                    aria-label="password" aria-describedby="basic-addon1" formControlName="newPassword">
            </div>
            <div class="input-group mb-3">
                <label for="confirmNewPass" class="form-label Heebo-Regular label-text text-start w-100">Confirm new
                    password</label>
                <span class="input-group-text d-flex align-items-center rounded-start-pill secondary-grey text-center"
                    id="basic-addon1"><i class="fa-solid fa-lock text-main-grey"></i></span>
                <input type="password" id="#confirmNewPass" class="form-control rounded-end-pill py-2" placeholder=""
                    aria-label="password" aria-describedby="basic-addon1" formControlName="ConfirmNewPassword">
            </div>
            <!-- Validators NewPassword -->
            @if (formResetPass.get('newPassword')?.hasError('required')&&
            formResetPass.get('newPassword')?.touched) {
            <div class="text-danger mt-1"><i class="fa-solid fa-circle-exclamation"></i> New password is required
            </div>
            }
            @if (formResetPass.get('newPassword')?.hasError('pattern')&&
            formResetPass.get('newPassword')?.touched) {
            <div class="text-danger mt-1"><i class="fa-solid fa-circle-exclamation"></i> New password must be at
                least 6 characters</div>
            }
            <button
                class="Heebo-Bold main-blue text-white fs-4 rounded-pill border-0 py-1 mt-3 mx-auto button-reset">Reset
                password</button>
        </form>
    </section>
    <footer class="Heebo-Regular text-main-grey mt-5">Copyright © 2024. MyApp.</footer>
</main>
