<footer class="container-fluid footerOne">
    <div class="container d-flex justify-content-center pt-5">
        <div class="w-75 pt-5">
            <h1 class="text-white Heebo-Bold mb-4">Your all-in-one travel app.</h1>
            <p class="text-white Heebo-Regular fs-3 mb-1">Book flights, hotels, trains & rental cars anywhere in the world in just seconds. Get real-time flight updates, travel info, exclusive deals, and 30% more Trip Coins only on the app!</p>
            <div class="d-flex pb-5">
                <div class="mb-5 me-5">
                    <div class="mb-3 Heebo-Regular ">
                        <input type="radio" class="btn-check text-white " name="btnradio" id="btnradio1" autocomplete="off" checked="">
                        <label class="btn text-white btn-outline-custom rounded-4 me-3" for="btnradio1">Mobile</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn text-white btn-outline-custom rounded-4" for="btnradio2">Email</label>
                    </div>
                    <p class="text-white download">Enter your phone number to receive a text with a link to download the app.</p>
                    <form class="d-flex" role="search">
                        <input class="form-control Heebo-Regular" type="search" placeholder="+91 Mobil Number" aria-label="Search" aria-describedby="basic-addon1">
                        <span class="input-group-text " id="basic-addon1">
                            <button class="btn btn-outline-white bg-white search Heebo-Bold px-5 rounded-5" type="submit">Search</button>
                        </span>
                    </form>
                </div>
                <div class="d-grid mb-4 ">
                    <img class="imgDownload" src="../../../assets/img/footer/google play.png" alt="">
                    <img class="imgDownload" src="../../../assets/img/footer/app store.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div></div>
</footer>

<footer class="footertwo">
    <div class=" ">
        <div class="row d-flex justify-content-center mainbox">
            <h1 class="col-2 text-white title Heebo-Bold mt-4">MyApp.</h1>
            <ul class="col-2 text-decoration-none textFooter Blinker-Regular mt-4">
                <p class=" ">Seslendirme ve Alt Jazz</p>
                <p class=" ">Media Market</p>
                <p class=" ">Gillie</p>
                <p class=" ">Size Last</p>
            </ul>
            <ul class="col-2 text-decoration-none textFooter Blinker-Regular mt-4">
                <p class="d-flex justify-content-center ">Self Betimes</p>
                <p class="d-flex justify-content-center ">Yatırımcı İlişkileri</p>
                <p class="d-flex justify-content-center ">Basal Himmler</p>
            </ul>
            <ul class="col-2 text-decoration-none textFooter Blinker-Regular mt-4">
                <p class="d-flex justify-content-end ">Yard Market</p>
                <p class="d-flex justify-content-end ">Is İmkanları</p>
                <p class="d-flex justify-content-end ">Car Tercihleri</p>
            </ul>
            <ul class="col-2 text-decoration-none textFooter Blinker-Regular mt-4 ">
                <p class="d-flex justify-content-end ">Hedge Karla</p>
                <p class="d-flex justify-content-end ">Mullein Koşulları</p>
                <p class="d-flex justify-content-end ">Autumnal Bulgier</p>
            </ul>
        </div>
        <div class="socialmedia d-flex justify-content-end fs-3  ">
            <i class="mx-2 fa-brands fa-square-facebook"></i>
            <i class="mx-2 fa-brands fa-square-instagram"></i>
            <i class="mx-2 fa-brands fa-twitter"></i>
            <i class="mx-2 fa-brands fa-youtube"></i>
        </div>
        <p class="Copyright pb-5 mb-0">© 2024</p>
    </div>
</footer>

