# flyctl launch added from .gitignore
# Compiled class file
**\*.class

# Log file
**\*.log

# BlueJ files
**\*.ctxt

# Mobile Tools for Java (J2ME)
**\.mtj.tmp

# Package Files #
**\*.jar
**\*.war
**\*.nar
**\*.ear
**\*.zip
**\*.tar.gz
**\*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**\hs_err_pid*
**\replay_pid*

# flyctl launch added from c18-32-ft-java-angular\.gitignore
c18-32-ft-java-angular\**\HELP.md

### STS ###
c18-32-ft-java-angular\**\.apt_generated
c18-32-ft-java-angular\**\.classpath
c18-32-ft-java-angular\**\.factorypath
c18-32-ft-java-angular\**\.project
c18-32-ft-java-angular\**\.settings
c18-32-ft-java-angular\**\.springBeans
c18-32-ft-java-angular\**\.sts4-cache

### IntelliJ IDEA ###
c18-32-ft-java-angular\**\.idea
c18-32-ft-java-angular\**\*.iws
c18-32-ft-java-angular\**\*.iml
c18-32-ft-java-angular\**\*.ipr

### NetBeans ###
c18-32-ft-java-angular\nbproject\private
c18-32-ft-java-angular\nbbuild
c18-32-ft-java-angular\dist
c18-32-ft-java-angular\nbdist
c18-32-ft-java-angular\.nb-gradle
c18-32-ft-java-angular\**\build
!c18-32-ft-java-angular\**\**\src\main\**\build
!c18-32-ft-java-angular\**\**\src\test\**\build

### VS Code ###
c18-32-ft-java-angular\**\.vscode
fly.toml
