<nav class="navbar navbar-expand-lg bar sticky-top">
    <div class="container-fluid mx-5 mb-3 ">

        <div class="d-grid align-content-center">
            <a class="navbar-brand text-main-blue Blinker-Bold align-content-center" routerLink="home-page"><h2 class="m-0">MyApp</h2></a>
        </div>
        <button class="btn navbar-toggler mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav mt-2">
                    <li class="nav-item align-content-center">
                        <a class="nav-link active Heebo-Regular fs-6" aria-current="page" routerLink="home-page">Home</a>
                    </li>
                    <li class="nav-item align-content-center">
                        <a class="nav-link Heebo-Regular fs-6 " routerLink="home-page">Stays</a>
                    </li>
                    <li class="nav-item align-content-center">
                        <a class="nav-link Heebo-Regular fs-6 " routerLink="home-page">Flights</a>
                    </li>
                    <li class="nav-item align-content-center">
                        <a class="nav-link Heebo-Regular fs-6 " type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="home-page">Packages</a>
                    </li>
                    <li class="nav-item align-content-center">
                        <a class="nav-link Heebo-Regular fs-6 " type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">Login</a>
                    </li>
                    <li class="nav-item align-content-center">
                        <a class="nav-link Heebo-Regular fs-6 myapp" type="button" data-bs-toggle="modal" data-bs-target="#SignUpModal">Sign Up</a>
                    </li>
                    <li class="nav-item align-content-center " type="button" routerLink="/user-panel">
                        <img class="perfil p-2" src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg " alt="">
                    </li>
                </ul>
        </div>
    </div>
</nav>


<!------------------------------------ Login modal ----------------------------------------------------->

<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center  ">
        <div class="modal-content login">
            <div class="modal-header log h-100 border-0 ps-0 py-0 d-flex rounded-0">
                <div class="bg-white h-100 mainbox">
                    <div class="mx-5 log2 h-100 align-content-center">
                        <div class="mb-4 d-flex justify-content-center Heebo-Bold "><h1 class="myapp">MyApp</h1></div>
                        <div class="d-flex justify-content-center mb-2 Heebo-Bold"> <h3>Login</h3></div>
                        <p class="Heebo-Regular mb-4">Don’t have an account? <a type="button" data-bs-toggle="modal" data-bs-target="#SignUpModal" href="">SignUp for free</a></p>
                        <div class="mb-3 Heebo-Regular">
                            <label for="basic-url" class="form-label text-black">Email Address</label>
                            <div class="input-group">
                                <input type="text" class="form-control radius" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                            </div>
                        </div>
                        <div class="mb-3 Heebo-Regular">
                            <label for="basic-url" class="form-label">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control radius" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                            </div>
                        </div>
                        <div class="form-check m-3 ms-0 Heebo-Regular">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Remember me
                            </label>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button class="btn btn-primary Heebo-Bold text-white w-100">Log in</button>
                        </div>
                        <p class="d-flex justify-content-center Heebo-Regular"><a href="">Forgot Your Password?</a></p>
                        <p class="d-flex justify-content-center">Copyright © 2024. MyApp.</p>
                    </div>
                </div>
                <button type="button" class="btn-close btn-close-white cerrarModal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

        </div>
    </div>
</div>


<!------------------------------------ Sign Up modal ----------------------------------------------------->

<div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center  ">
        <div class="modal-content signup">
            <div class="modal-header h-100 border-0 ps-0 py-0 rounded-0 d-flex justify-content-center">
                <h2 class="text-white logoSignup">MyApp</h2>
                <div class=" bg-white box h-75 ">
                    <div class="mx-5 h-100 align-content-center">
                        <div class="d-flex justify-content-center mt-2 Heebo-Bold"> <h3>Signup</h3></div>
                        <div class="mb-3 Heebo-Regular">
                            <label for="basic-url" class="form-label text-black">Email Address</label>
                            <div class="input-group">
                                <input type="text" class="form-control radius" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                            </div>
                        </div>
                        <div class="mb-3 Heebo-Regular">
                            <label for="basic-url" class="form-label text-black">Username</label>
                            <div class="input-group">
                                <input type="text" class="form-control radius" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                            </div>
                        </div>
                        <div class="mb-5 Heebo-Regular">
                            <label for="basic-url" class="form-label">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control radius" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                            </div>
                        </div>

                        <div class="mb-3 d-flex justify-content-center">
                            <button class="btn btn-primary Heebo-Bold text-white w-100">Signup</button>
                        </div>
                        <p class="d-flex justify-content-center Heebo-Regular "> Already have an account? <a type="button" class="ms-1" data-bs-toggle="modal" data-bs-target="#LoginModal"> Log in</a></p>
                    </div>
                </div>
                <p class="copyright d-flex justify-content-center text-white">Copyright © 2024. MyApp.</p>
                <button type="button" class="btn-close btn-close-white cerrarModal " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- <div class="modal-body">
            </div> -->
        </div>
    </div>
</div>


