.perfil {
    border-radius: 100%;
    width: 3rem;
}
.bar {
    background-color: var(--white) !important;
    border-bottom-left-radius: 1.9rem;
    border-bottom-right-radius: 1.9rem;
    /* height: 114px; */
}
.Heebo-Regular{
    color: #444B55;
    font-size: 16.3;
}

.login {
    background-image: url(../../../assets/img/navbar/login.png) !important ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1035px;
    height: 594px;
}

.cerrarModal{
    margin-bottom: 548px;
}
.myapp{
    color: var(--main-blue);
}

.radius{
    border-radius: 27.5px;
    background-color: var(--secondary-grey);
}
.btn-primary{
    border-radius: 27.5px;
    background-color: var(--main-blue);
}
.mainbox{
    border-bottom-right-radius: 55px;
    border-top-right-radius: 55px;
}

.modal-header{
    width: 1019px;
    height: 594px;
}


.signup{
    background-image: url(../../../assets/img/navbar/signup.png) !important ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1035px;
    height: 594px;
}
.box{
    border-radius: 47.3px;
    width: 554px;
    height: 554px;
    margin-left: 146px
}
.copyright{
    transform: translate(-368px, 277px);
    width: 234px;

}
.logoSignup{
    transform: translate(53px, -253px);
    width: 120px;

}

.forgot-pass-link{
    cursor: pointer;
}

.forgot-pass-modal-body{
    padding: 0px 55px 30px 55px !important;
}

.img-forgot-pass{
    width: 200px;
}

.form-reset-pass{
    width: 100%;
}

@media (max-width: 600px) {
    .log   {
        width: 455px;
        height: 594px;
    }
    .log2{
        transform: translate(12px, 2px);
        width: 387px;


    }
    .mainbox{
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    .login{
        background-image: none !important;
        border-radius: 0%;

    }
    .signup{
        background-image: none !important;
        width: 455px;
        height: 594px;
    }
    .box{
        transform: translate(-120px, 2px);
        border-radius: 0px;
        width: 453px;
        height: 554px;
        margin-left: 0px
    }
    .forgot-pass-modal-body{
        padding: 0px 30px 0px 30px !important;
    }

    .img-forgot-pass{
        width: 170px;
    }

}
