<div class="card mainbox m-3" >
    <div class="row g-0">
        <div class="col-sm-6 rounded-5">
            <img src="../../../../assets/img/offer1.png" class="img-fluid rounded-0 rounded-start m-3 w-100" alt="...">
        </div>
        <div class="col-sm-6 ">
            <div class="card-body ms-4">
                <p class="card-title Blinker-Regular">Domestic Flights</p>
                <p class="card-text fs-2 Blinker-Regular">Huge savings on flight with trxvl.</p>
                <p class="card-text fs-4  Blinker-Regular"><small class="text-body-secondary">Book domestic flights starting just $1459</small></p>
                <button class="btn btn-primary mt-4 px-5 py-3 Blinker-Regular">Book Now</button>
            </div>
        </div>
    </div>
</div>
